#body {
  /* background-image: url("/sources/Black\ Folds.jpg"); */
  background-color: yellow;
  margin: 0;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  position: relative;
}

#desktop {
  background-color: rgb(100, 50, 255);
  height: 100dvh;
  width: 100dvw;
  position: relative;
  inset: 0;
  z-index: 1;
  background-image: url('/sources/Black\ Folds.jpg');
  background-size: cover;
}
#fs {
  height: 100dvh;
  width: 100dvw;

  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#dock {
  background-color: rgba(0, 0, 0, 0.7);
  height: 40%;
  width: 2%;
  border-radius: 0em 2em 2em 0em;
  
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
  content-visibility: hidden;

  position: absolute;
  z-index: 4;
  left: -1%;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
}
#dock:hover {
  backdrop-filter: blur(14px) saturate(140%);
  -webkit-backdrop-filter: blur(14px) saturate(140%);
  border: 1px solid rgba(255, 255, 255, 0.15);

  width: 5%;
  border-radius: 5em;
  left: 0%;
  content-visibility: visible;
}
.app {
  height: 50%;
  width: 50%;
  border: 0;
  border-radius: 100%;
}
#app1 {background-image: url('/sources/Porsche\ GT3RS.jpg');}

#menuBar {
  background-color: rgba(0, 0, 0, 0.7);
  height: 10%;
  width: 20%;
  border-radius: 1em 1em 0 0;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 3fr 2fr;
  content-visibility: hidden;
  align-items: center;

  position: absolute;
  z-index: 4;
  bottom: -8%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}
#menuBar:hover {
  backdrop-filter: blur(14px) saturate(140%);
  -webkit-backdrop-filter: blur(14px) saturate(140%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  bottom: 0;
  content-visibility: visible;
}

.mbWidget {
  height: 100%;
  width: 100%;
  align-content: center;
  justify-content: center;
}
.dropbtn { /* Dropup Button */
  background-color: #000000;
  color: white;
  padding: 16px;
  height: 100%;
  width: 100%;
  border-radius: 0 1em 0 0;
  font-size: 16px;
  border: none;
}
.dropup {position: relative; display: inline-block;} /* The container <div> - needed to position the dropup content */
.dropup-content { /* Dropup content (Hidden by Default) */
  display: none;
  position: absolute;
  bottom: 100%;
  left: -50%;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto;
  align-items: center;
  content-visibility: hidden;

  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
}
.dropup-content button { /* Links inside the dropup */
  background-color: black;
  color: white;
  font-weight: bolder;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
}
.dropup-content button:hover {background-color: white; color: black;} /* Change color of dropup links on act:hover */
.dropup:hover .dropup-content {content-visibility: visible;} /* Show the dropup menu on act:hover */
.dropup:hover .dropbtn {background-color: black;} /* Change the background color of the dropup button when the dropup content is shown */